<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create Your Alien!</h1>
    <form action="/alien/create" method="post">
        <label for="Name">Name: </label>
        <input type="text" name="Name">
        <br>
        <label for="HomePlanet">Home Planet: </label>
        <input type="text" name="HomePlanet">
        <br>
        <label for="DistanceFromHome">Distance From Home Planet: </label>
        <input type="number" name="DistanceFromHome">
        <br>
        <input type="submit" value="Submit Alien">
    </form>
</body>
</html>