<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to my website!</h1>
    <h3>Here's some super cool things!</h3>
    <ul>
        <li>Batman</li>
        <li>Sports!</li>
        <li>Video games</li>
        <li>mountains</li>
    </ul>
</body>
</html>